<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8" />
    <title>Selected news</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="base :: header1"></div>
<div class="container">
    <h5>News by category</h5>
    <div class="card-columns">
        <div class="card"  th:each="articles : ${articles}">
            <span><img class="card-img-top img-responsive" th:src="${articles.urlToImage}" alt="image" /><br/></span>

            <div class="card-body" >
                <p class="card-text">
                    <Span class="article-title" th:text="${articles.title}"></Span><br />
                    <Span class="article-author" th:text="${articles.author}"></Span> <br/>
                    <Span th:text="${articles.description}"></Span><br/>
                    <span><a class="article-url" th:href="${articles.url}"><Span th:text="${#strings.substring(articles.url,0,35)}"></Span>...</a></span><br/>
                </p>
            </div>

            <div class="card-footer">
                <Span th:text="${articles.publishedAt}"></Span><br/>
            </div>

        </div>
    </div>
</div>

</body>
</html>